@import url('https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css');

/* resetando parâmetros padrão e redefinindo tamanho de fonte */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    height: auto;
    /*equivale a 10px*/
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #4B0082;
}

ul {
    list-style: none;
}

/* header */

.cabecalho {
    background-color: #4B0082;
    padding: 1rem;
}

.cabecalho .cabecalho-navegacao .cabecalho-navegacao-ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.cabecalho-navegacao-ul li a {
    color: #fff;
    font-size: 1.3rem;
}

.cabecalho-navegacao-ul li a:hover {
    color: #FFA500;

}

/* main informacoes */

#conteudoPagina {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.titulo-info {
    font-size: 2rem;
    margin: 1rem 0 5rem 0;
}

.section-info {
    align-items: center;
    /* border: 1px solid #000; */
    display: flex;
    height: 40vh;
    justify-content: space-evenly;
    box-shadow: 0 0 1rem #000;
    width: 70vw;
}

.section-info div {
    /* border: 1px solid #737; */
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 1rem;
    text-align: justify;
    width: 40vw;
}

.section-info img {
    border-radius: 0.3rem;
    width: 20vw;
    height: 30vh;
}

/* main area cadastros */

.container-cadastros {
    align-items: center;
    display: flex;
    min-height: 100vh;
    justify-content: space-around;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form input {
    border: 1px solid #373737;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    padding: 0.5rem;
    width: 30rem;
}

#botaoCadastrar {
    background-color: #4B0082;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
    width: 30rem;
}

#botaoCadastrar:hover {
    background-color: #d68b00;
}

/* tabela de cadastros */

#tabela {
    border-collapse: collapse;
    margin: 1rem;
    text-align: center;
    width: 40vw;
}

#tabela th,
tr,
td {
    border: 1px solid #373737;
    background-color: #fff;
    font-size: 1rem;
    padding: 0.6rem;
}

/* pagina ajuda */

.titulo-ajuda {
    font-size: 2rem;
    margin: 1rem 0 5rem 0;
}

.section-ajuda {
    align-items: center;
    /* border: 1px solid #000; */
    display: flex;
    height: 40vh;
    justify-content: space-evenly;
    box-shadow: 0 0 1rem #000;
    width: 70vw;
}

.section-ajuda div {
    /* border: 1px solid #737; */
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 1rem;
    text-align: justify;
    width: 40vw;
}

.section-ajuda img {
    border-radius: 0.3rem;
    width: 20vw;
}

/* footer */

/* deixar o footer fixo no final do body*/

.rodape {
    background-color: #4B0082;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.6rem;
}

.rodape div {
    align-items: center;
    display: flex;
}

.rodape div .rodape-info-gerais {
    color: #fff;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.rodape p {
    color: #fff;
    font-size: 1rem;
    text-align: center;
}

#logo-nerv {
    width: 6rem;
    height: auto;
}

/* media quey para até 1380px */

@media (max-width: 1380px) {
    .container-cadastros {
        flex-direction: column;
    }

    .form h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    .form input {
        font-size: 1.4rem;
        width: 80vw;
    }

    #botaoCadastrar {
        font-size: 1.8rem;
        width: 80vw;
    }

    #conteudoPagina h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    #tabela th, td, tr{
        font-size: 1.4rem;
    }

    .section-info {
        border-radius: 0.6rem;
        height: auto;
        padding: 1.4rem;
        width: 78vw;
    }

    .section-ajuda {
        border-radius: 0.6rem;
        height: auto;
        padding: 1rem;
        width: 78vw;
    }

    #tabela {
        width: 80vw;
    }
}

/* media query para até 1024px */

@media (max-width: 1024px) {
    .container-cadastros {
        flex-direction: column;
    }

    #conteudoPagina h1 {
        font-size: 1.9rem;
        text-align: center;
    }

    .section-info {
        border-radius: 0.6rem;
        height: auto;
        padding: 1.4rem;
        width: 78vw;
    }

    .section-ajuda {
        border-radius: 0.6rem;
        height: auto;
        padding: 1rem;
        width: 78vw;
    }

    #tabela {
        width: 80vw;
    }
}

/* media query para até 768px */

@media (max-width: 768px) {

    .cabecalho-navegacao-ul li a {
        font-size: 1.7rem;
    }

    .container-cadastros {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .form h2{
        font-size: 1.7rem;
    }

    .form input {
        font-size: 1.4rem;
        width: 80vw;
    }

    #botaoCadastrar {
        font-size: 1.8rem;
        width: 80vw;
    }

    #conteudoPagina h1 {
        font-size: 1.9rem;
        text-align: center;
    }

    .section-info {
        border-radius: 0.6rem;
        flex-direction: column;
        height: auto;
        padding: 1.4rem;
        width: 90vw;
    }

    .section-info div {
        width: 80vw;
    }

    .section-info p{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .section-info img {
        border-radius: 0.3rem;
        height: 30vh;
        width: 45vw;
    }

    /**/

    .section-ajuda {
        border-radius: 0.6rem;
        flex-direction: column;
        height: 70vh;
        padding: 1rem;
        width: 90vw;
    }

    .section-ajuda div {
        width: 60vw;
    }

    .section-ajuda p{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .section-ajuda img {
        border-radius: 0.3rem;
        height: auto;
        width: 50vw;
    }

}